* {
	padding: 0;
	margin: 0;
	list-style: none;
	scrollbar-width: none;
	box-sizing: border-box;
	font-family: "SuisseIntl";
	--main: #f06135;
	--background: #151515;
}

@font-face {
	font-family: "SuisseIntl";
	src: url("../public/fonts/SuisseIntl-Regular.ttf");
	font-weight: 400;
}
